*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container{
    display: grid;
    /* колонки */
    grid-template-columns: 200px 200px 200px;
    /* строки */
    grid-template-rows: 60px 60px 60px;
    /* разрывы между колонками */
    column-gap: 20px;
    /* разрывы между строками */
    row-gap: 20px;
}

.grid-elem{
    height: 50px;
    background-color: #315f06;

    color:#FFFF;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #000;
    border-radius: 4px;
}
